.bold {
    background-color: #2e2d3b !important;
  }

.sho {
    visibility: hidden;
  } 

.cards {
  display: flex;
  padding: 0px 20px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 0.5px solid rgba(224, 224, 224, 0.404);
  padding-top: 10px;
}

.card {
  border-radius: 10px;
  margin: 5px 5px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  box-shadow: 1px 1px 15px rgba(18, 18, 18, 0.537) inset ;

}

a:hover{
  text-decoration: none;
  opacity: 1;
}

.card:hover {
  text-decoration: none;
}

.card>div{
  background: linear-gradient(to top, rgba(22, 22, 22, 0.8), rgb(0, 0, 0, 0.2), 80%, rgb(0, 0, 0, 0));
  height: 300px;
  width: 300px;
  border-radius: 4px;

  color: rgb(218, 218, 218);
  text-align: left;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* box-shadow: 5px 5px 10px rgba(27, 29, 31, 0.5) inset ; */
}

.card>div>p {
  font-size: 0.7em;
  user-select: none;
}

.card>div>h6 {
  font-weight: bolder;
  user-select: none;
}

.afterClick h6::after {
  content: "";
  background: rgb(58, 67, 79);
  width: 50%;
  position: absolute;
  height: 1px;
  top: 100%;
  left: 0;
  animation: 0.5s longer;
}

@media only screen and (min-width: 768px) {
  .card>div{
    opacity: 0;
    transition: 0.5s;
  }

  .card> div:hover{
    opacity: 1;
  }
}