.SkillMenuList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(224, 224, 224, 0.404);
    margin-bottom: 15px;
    border-width: 60%;
}
@media only screen and (max-width: 991px) {
    .SkillMenuList {
     margin-top: 40px;
    }
  }

.SkillMenuList div {
    margin: auto;
    user-select: none;
    cursor: pointer;
    width: fit-content;

    font-weight: 500;
    color: rgb(63, 68, 91);
    text-decoration: none;
    position: relative;
    padding: 2px 0px;
}

@media only screen and (max-width: 991px) {
    .SkillMenuList {
        margin-top: 40px;
    }
  }

@media only screen and (max-width: 512px) {
    .SkillMenuList div {
        font-size: 0.8em;
    }

}
